@model List<Book>


<h1>Book List </h1>

<div>
    <div>

        <table class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Book Desctription</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eachBook in Model)
                {
                    <tr>
                        <td>@eachBook.BookTitle</td>
                        <td>@eachBook.Description</td>
                        <td>@eachBook.Author</td>
                        <td>@eachBook.Price</td>
                        <td>@eachBook.CategoryId</td>
                        <td>
                            <a asp-controller="Book" asp-action="Edit" asp-route-id="@eachBook.BookId">Edit</a>
                            <a asp-controller="Book" asp-action="Delete" asp-route-id="@eachBook.BookId">Delete</a>
                            <a asp-controller="Book" asp-action="Details" asp-route-id="@eachBook.BookId">Details</a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class=" col-6">
</div>
<div class="col-6">
    <a asp-controller="Book" asp-action="Create" class=" btn btn-primary">Create New Book</a>
</div>
